@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
input{
    border: 1px solid;
    border-radius: 3px;
}
button{
    border: 1px solid;
    border-radius: 3px;
    padding: 0 2px;
    background-color: yellowgreen;
    font-weight: 500;

}
input:focus{
    outline: none;
}
h1{
    text-transform: capitalize;
    margin-bottom: 30px;
}